In [30]:
%qtconsole

import numpy as np
import pandas as pd

np.random.seed(12345)

df = pd.DataFrame({
  'a': np.random.rand(1),
  'b': np.random.rand(1),
  'A': [np.random.rand(5)],
  'B': [np.random.rand(4)],
  'C': [np.random.rand(3)],
})

In [31]:
display(df)

,a,b,A,B,C
0,0.929616,0.316376,"[0.18391881167709445, 0.2045602785530397, 0.56...","[0.6531770968715709, 0.7489066375339118, 0.653...","[0.9613067360728214, 0.00838829794155349, 0.10..."

In [32]:
with pd.option_context('display.precision', 4):
  display(df)

,a,b,A,B,C
0,0.9296,0.3164,"[0.18391881167709445, 0.2045602785530397, 0.56...","[0.6531770968715709, 0.7489066375339118, 0.653...","[0.9613067360728214, 0.00838829794155349, 0.10..."

In [33]:
with np.printoptions(precision=4):
  display(df)

,a,b,A,B,C
0,0.929616,0.316376,"[0.18391881167709445, 0.2045602785530397, 0.56...","[0.6531770968715709, 0.7489066375339118, 0.653...","[0.9613067360728214, 0.00838829794155349, 0.10..."

In [34]:
with pd.option_context('display.precision', 4):
  with np.printoptions(precision=4):
    display(df)

,a,b,A,B,C
0,0.9296,0.3164,"[0.18391881167709445, 0.2045602785530397, 0.56...","[0.6531770968715709, 0.7489066375339118, 0.653...","[0.9613067360728214, 0.00838829794155349, 0.10..."

In [36]:
display(df.loc[0].C)

array([0.96130674, 0.0083883 , 0.10644438])